const {{pascalCase name}} = () => (
  <main className="flex w-full py-10 bg-sky-800 justify-center items-center">
    <h1 className="text-4xl font-bold">{{pascalCase name}}</h1>
  </main>
)

export default {{pascalCase name}}
